@import "_base.scss";
.wrapper{
    .page{
        &.about{
            .com_title{
                &:before{
                    background-image: url(../images/about_title.png);
                }
            }
            .com_main{
                .content{
                    //width:478
                    .st1{
                        @include r;
                        height: 54px;
                        background-image: url(../images/about_st1.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        margin-bottom: 20px;
                        z-index: 1;
                    }
                    .st2{
                        @include r;
                        height: 54px;
                        background-image: url(../images/about_st2.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        margin-bottom: 20px;
                        margin-top: 10px;
                        z-index: 1;
                    }
                    .st3{
                        @include r;
                        height: 54px;
                        background-image: url(../images/about_st3.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        margin-bottom: 20px;
                        margin-top: 10px;
                        z-index: 1;
                    }
                    .st4{
                        @include r;
                        height: 54px;
                        background-image: url(../images/about_st4.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        margin-bottom: 25px;
                        margin-top: 10px;
                        z-index: 1;
                    }
                    .w{
                        @include r;
                        @include font(17px,24px,#414141);
                        margin-bottom: 10px;
                        z-index: 1;
                    }
                    .ss{
                        @include r;
                        @include font(17px,24px,#7b7b7b);
                        margin-bottom: 15px;
                        z-index: 1;
                    }
                    .org{
                        @include r;
                        @include font(24px,24px,#f5791f,bolder);
                        z-index: 1;
                    }
                    .blue{
                        @include r;
                        @include font(24px,24px,#116fee,bolder);
                        z-index: 1;
                    }
                    .red{
                        @include r;
                        @include font(17px,24px,#de1818);
                        z-index: 1;
                    }
                    .sst{
                        @include r;
                        @include font(24px,32px,#414141,bolder);
                        margin-bottom: 10px;
                        z-index: 1;
                    }
                    .word{
                        @include r;
                        @include font(17px,24px,#414141);
                        box-sizing: border-box;
                        padding-left: 25px;
                        z-index: 1;
                    }
                    .item1{
                        float: right;
                        z-index: 1;
                        margin-left: 15px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}