@import "_base.scss";
.wrapper{
    .page{
        &.award_info{
            .com_title{
                &:before{
                    background-image: url(../images/award_info_title.png);
                }
            }
            .com_main{
                .content{
                    //width:478
                    .st1{
                        @include r;
                        height: 54px;
                        background-image: url(../images/inquire_st1.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        margin-bottom: 30px;
                        z-index: 1;
                    }
                    .st2{
                        @include r;
                        height: 54px;
                        background-image: url(../images/inquire_st2.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        margin-bottom: 25px;
                        margin-top: 15px;
                        z-index: 1;
                    }
                    .word{
                        @include r;
                        @include font(17px,24px,#414141);
                        z-index: 1;
                        .red{
                            @include font(24px,30px,#de1818,bolder);
                            &.martop{
                                margin-top: 25px;
                            }
                        }
                        .s{
                            @include r;
                            @include font(18px,24px,#b00a0a);
                            text-align: center;
                            color: #b00a0a;
                            margin-top: 25px;
                        }
                        img{
                            float: right;
                            &.prize1{
                                width: 309px;
                                height: 134px;
                            }
                            &.prize2{
                                width: 164px;
                                height: 203px;
                                margin-top: 30px;
                            }
                            &.prize3{
                                width: 141px;
                                height: 238px;
                            }
                            &.prize4{
                                width: 160px;
                                height: 75px;
                                margin-top: -15px;
                            }
                        }
                    }
                }
            }
        }
    }
}