@import "_base.scss";
.wrapper{
    .page{
        &.index{
            .title{
                @include alt(518px,302px,194px,114px);
                background-image: url(../images/index_title.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 2;
            }
            .waterchild{
                @include art(284px,360px,2px,283px);
                background-image: url(../images/index_waterchild.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 0;
            }
            .banner_box{
                @include r(598px,268px);
                background-image: url(../images/index_pic1.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                margin-top: 376px;
                margin-left: 152px;
                margin-bottom: 30px;
                z-index: 1;
                .login_number_btn{
                    @include alt(160px,57px,60px,186px);
                    background-image: url(../images/index_btn1.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    cursor: pointer;
                    z-index: 2;
                    &:hover{
                        opacity: 0.9;
                    }
                }
                .gamePlay_btn{
                    @include alt(252px,57px,315px,186px);
                    background-image: url(../images/index_btn2.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    cursor: pointer;
                    z-index: 2;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
            .footer{
                @include art(auto,auto,0,645px);
                @include font(12px,24px,#0e0e0e);
                text-align: center;
            }
        }
    }
}