@import "_base.scss";
.wrapper{
    .page{
        &.login_member_nodata{
            .com_title{
                &:before{
                    background-image: url(../images/login_member_nodata_title.png);
                }
            }
            .com_main{
                .content{
                    box-sizing: border-box;
                    padding-left: 233px;
                    .btn{
                        @include alt(170px,auto,36px,50px);
                        z-index: 2;
                        .nodata_btn{
                            @include r(170px,65px);
                            margin-bottom: 10px;
                            background-image: url(../images/login_member_nodata_btn1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.9;
                            }
                            &.on{
                                background-image: url(../images/login_member_nodata_btn2.png);
                            }
                            a{
                                @include alt;
                            }
                        }
                        .hasdata_btn{
                             @include r(170px,65px);
                            background-image: url(../images/login_member_hasdata_btn1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.9;
                            }
                            &.on{
                                background-image: url(../images/login_member_hasdata_btn2.png);
                            }
                            a{
                                @include alt;
                            }
                        }
                        .s_des{
                            @include r;
                            margin-top: 13px;
                            .t{
                                @include r;
                                @include font(14px,16px,#e31414,bolder);
                                text-align: center;
                                margin-bottom: 15px;
                            }
                            ul{
                                @include r;
                                li{
                                    @include r;
                                    @include font(15px,20px,#414141,bolder);
                                    text-align: left;
                                    margin-bottom: 10px;
                                    .lt{
                                        @include alt(20px,20px);
                                        @include font(12px,20px,#fff,bolder,'Arial');
                                        text-align: center;
                                        border-radius: 10px;
                                        z-index: 1;
                                        background-color: #205daf;
                                    }
                                    .rt{
                                        @include r;
                                        box-sizing: border-box;
                                        padding-left: 25px;
                                    }
                                }
                            }
                        }
                    }
                    .data{
                        @include r;
                        z-index: 1;
                        li{
                            @include r;
                            margin-bottom: 7px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            input{
                                @include r(100%,40px);
                                @include font(14px,40px,#414141);
                                text-indent: 8px;
                                background-color: #fff;
                                &.error{
                                    color: #e31414;
                                }
                                &.vercode{
                                    width: 178px;
                                    margin-right: 10px;
                                }
                                &.phone{
                                    @include r(178px,40px);
                                }
                                &.email{
                                    @include r(178px,40px);
                                    margin-right: 5px;
                                }
                            }
                            .vercode_img{
                                @include rvw(170,50);
                                margin-top: getVW(8);
                            }
                            select{
                                @include r(178px,40px);
                                @include font(14px,40px,#414141);
                                text-indent: 8px;
                                background-color: #fff;
                                margin-right: 5px;
                                &:nth-child(2n){
                                    margin-right: 0;
                                }
                            }
                            .agree{
                                @include r;
                                box-sizing: border-box;
                                padding-left: 25px;
                                .checkbox{
                                    @include alt(20px,20px);
                                    box-sizing: border-box;
                                    border: 2px solid #9a9a9a;
                                    background-color: #fff;
                                    cursor: pointer;
                                    &.on{
                                        background-image: url(../images/checkbox.png);
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center center;
                                    }
                                }
                                a{
                                    @include r;
                                    @include font(14px,21px,#000000);
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .submitbtn{
                                @include r(218px,83px);
                                background-image: url(../images/login_member_go_btn.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                                margin-left: 75px;
                                text-indent: -99999px;
                                cursor: pointer;
                                &:hover{
                                    opacity: 0.9;
                                }
                                a{
                                    @include alt;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}