@import "_base.scss";
.wrapper{
    .page{
        &.login_number_success{
            .com_title{
                &:before{
                    background-image: url(../images/login_number_success_title.png);
                }
            }
            .com_main{
                .content{
                    //width:478    
                    .des{
                        @include r;
                        margin-top: 15px;
                        margin-bottom: 14px;
                        height: 196px;
                        background-image: url(../images/login_number_success_des.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        z-index: 1;
                    }
                    .btn{
                        @include r;
                        text-align: center;
                        .more{
                            position: relative;
                            width: 218px;
                            height: 83px;
                            margin-right: 28px;
                            background-image: url(../images/login_number_success_morebtn.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            cursor: pointer;
                            display: inline-block;
                        }
                        .sharefb{
                            position: relative;
                            width: 218px;
                            height: 83px;
                            background-image: url(../images/login_number_success_sharefbbtn.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            cursor: pointer;
                            display: inline-block;
                        }
                    }         
                }
            }
        }
    }
}