@import "_base.scss";
.wrapper{
    .page{
        &.login_member_nodata_confirm{
            .com_title{
                &:before{
                    background-image: url(../images/login_member_nodata_confirm_title.png);
                }
            }
            .com_main{
                .content{
                    .des{
                        @include r;
                        margin-bottom: 14px;
                        height: 57px;
                        background-image: url(../images/login_member_nodata_confirm_des.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        z-index: 1;
                    }
                    .data{
                        @include r;
                        box-sizing: border-box;
                        border: 3px dotted #fff;
                        padding: 20px 0;
                        margin-bottom: 25px;
                        z-index: 1;
                        li{
                            @include r;
                            .left{
                                @include alt(110px,30px);
                                @include font(17px,30px,#414141);
                                text-align: right;
                            }
                            .right{
                                @include r;
                                @include font(17px,30px,#1c56ac);
                                box-sizing: border-box;
                                padding-left: 120px;
                            }
                        }
                    }
                    .btn{
                        @include r;
                        text-align: center;
                        z-index: 1;
                        .modify{
                            position: relative;
                            width: 218px;
                            height: 83px;
                            margin-right: 15px;
                            display: inline-block;
                            background-image: url(../images/login_member_nodata_confirm_btn1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.9;
                            }
                            a{
                                @include alt;
                            }
                        }
                        .submit{
                            position: relative;
                            width: 218px;
                            height: 83px;
                            background-image: url(../images/login_member_go_btn.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            display: inline-block;
                            &:hover{
                                opacity: 0.9;
                            }
                            a{
                                @include alt;
                            }
                        }
                    }
                }
            }
        }
    }
}