@import "_base.scss";
.wrapper{
    .page{
        &.login_number_success{
            .com_title{
                &:before{
                    background-image: url(../images/login_number_success_title.png);
                }
            }
            .com_main{
                .content{
                    //width:478    
                    .des{
                        @include r;
                        height: getVW(233);
                        background-image: url(../images/login_number_success_des.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        margin-bottom: getVW(30);
                    }
                    .btn{
                        @include r;
                        width: getVW(285);
                        margin-left: getVW(96);
                        margin-bottom: getVW(10);
                        .more{
                            @include r;
                            height: getVW(108);
                            margin-bottom: getVW(30);
                            background-image: url(../images/login_number_success_morebtn.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            cursor: pointer;
                        }
                        .back{
                            @include r;
                            height: getVW(108);
                            margin-bottom: getVW(30);
                            background-image: url(../images/login_number_success_backbtn.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            cursor: pointer;
                        }
                        .sharefb{
                            @include r;
                            height: getVW(108);
                            background-image: url(../images/login_number_success_sharefbbtn.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            cursor: pointer;
                        }
                    }         
                }
            }
        }
    }
}