@import "_base.scss";
.wrapper{
    .page{
        &.login_member{
            .com_title{
                &:before{
                    background-image: url(../images/login_member_title.png);
                }
            }
            .com_main{
                .content{
                    box-sizing: border-box;
                    padding-left: 233px;
                    .btn{
                        @include alt(170px,auto,36px,50px);
                        z-index: 2;
                        .nodata_btn{
                            @include r(170px,65px);
                            margin-bottom: 10px;
                            background-image: url(../images/login_member_nodata_btn1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.9;
                            }
                            &.on{
                                background-image: url(../images/login_member_nodata_btn2.png);
                            }
                            a{
                                @include alt;
                            }
                        }
                        .hasdata_btn{
                             @include r(170px,65px);
                            background-image: url(../images/login_member_hasdata_btn1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.9;
                            }
                            &.on{
                                background-image: url(../images/login_member_hasdata_btn2.png);
                            }
                            a{
                                @include alt;
                            }
                        }
                    }
                    .des{
                        @include r;
                        margin-bottom: 14px;
                        height: 67px;
                        background-image: url(../images/login_member_des.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        z-index: 1;
                    }
                    .data{
                        @include r;
                        z-index: 1;
                        li{
                            @include r;
                            margin-bottom: 7px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            input{
                                @include r(100%,40px);
                                @include font(14px,40px,#414141);
                                text-indent: 8px;
                                background-color: #fff;
                                &.vercode{
                                    width: 178px;
                                    margin-right: 10px;
                                }
                                &.error{
                                    color: red;
                                }
                            }
                            .vercode_img{
                                @include r(134px,39px);
                            }
                            .submitbtn{
                                @include r(218px,83px);
                                background-image: url(../images/login_member_go_btn.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                                margin-left: 75px;
                                margin-top: 15px;
                                text-indent: -99999px;
                                cursor: pointer;
                                &:hover{
                                    opacity: 0.9;
                                }
                                a{
                                    @include alt;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}