@import "_base.scss";
.wrapper{
    .page{
        &.login_member{
            .com_title{
                &:before{
                    background-image: url(../images/login_member_title.png);
                }
            }
            .com_main{
                .content{
                    .btn{
                        @include r;
                        margin-bottom: getVW(20);
                        .nodata_btn{
                            @include rvw(229,87);
                            margin-right: getVW(16);
                            background-image: url(../images/login_member_nodata_btn1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            &.on{
                                background-image: url(../images/login_member_nodata_btn2.png);
                            }
                            a{
                                @include alt;
                            }
                        }
                        .hasdata_btn{
                            @include rvw(229,87);
                            background-image: url(../images/login_member_hasdata_btn1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                            &.on{
                                background-image: url(../images/login_member_hasdata_btn2.png);
                            }
                            a{
                                @include alt;
                            }
                        }
                    }
                    .des{
                        @include r;
                        margin-bottom: getVW(20);
                        height: getVW(85);
                        background-image: url(../images/login_member_des.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    .data{
                        @include r;
                        li{
                            @include r;
                            margin-bottom: getVW(17);
                            &:last-child{
                                margin-bottom: 0;
                            }
                            input{
                                @include r;
                                @include fontvw(25,66,#414141);
                                text-indent: getVW(20);
                                height: getVW(66);
                                background-color: #fff;
                                &.vercode{
                                    width: getVW(264);
                                    margin-right: getVW(15);
                                }
                                &.on{
                                    color: red;
                                }
                            }
                            .vercode_img{
                                @include rvw(170,50);
                                margin-top: getVW(8);
                            }
                            .submitbtn{
                                @include rvw(285,108);
                                background-image: url(../images/login_member_go_btn.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                                margin-left: getVW(96);
                                text-indent: -99999px;
                            }
                        }
                    }
                }
            }
        }
    }
}