@import "_base.scss";
.wrapper{
    .page{
        &.login_number{
            .com_title{
                &:before{
                    background-image: url(../images/login_number_title.png);
                }
            }
            .com_main{
                .content{
                    //width:478
                    .des{
                        @include r;
                        margin-top: 30px;
                        margin-bottom: 14px;
                        height: 49px;
                        background-image: url(../images/login_number_des.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        z-index: 1;
                    }
                    .data{
                        @include r;
                        z-index: 1;
                        li{
                            @include r(49%);
                            margin-right: 2%;
                            margin-bottom: 7px;
                            &:nth-child(2n){
                                margin-right: 0;
                            }
                            input{
                                @include r(100%,40px);
                                @include font(14px,40px,#414141);
                                text-indent: 8px;
                                background-color: #fff;
                                &.error{
                                    color: #e31414;
                                }
                                &.ok{
                                    color: #00ac96;
                                }
                            }
                            .submit{
                                @include r(218px,83px);
                                background-image: url(../images/login_member_go_btn.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                                margin-left: 170px;
                                margin-top: 15px;
                                text-indent: -99999px;
                                cursor: pointer;
                                &:hover{
                                    opacity: 0.9;
                                }
                                a{
                                    @include alt;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.verPopup{
    @include flt;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    display: none;
    .main{
        @include am(692px,599px);
        background-image: url(../images/login_number_verpopup_bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        .des{
            @include alt(313px,79px,190px,46px);
            background-image: url(../images/login_number_verpopup_des.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .bottle1{
            @include alt(61px,211px,200px,142px);
            background-image: url(../images/login_number_verpopup_bottle1.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            z-index: 1;
            cursor: pointer;
        }
        .icon{
            @include alt(95px,42px,308px,235px);
            background-image: url(../images/login_number_verpopup_icon.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            z-index: 0;
        }
        .bottle2{
            @include alt(83px,231px,434px,132px);
            background-image: url(../images/login_number_verpopup_bottle2.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            z-index: 0;
        }
        
    }
}