@import "_base.scss";

//common
body{
    overflow-x:hidden;
}
.loading{
    @include flt;
    z-index: 99;
    background-color: rgba(0,0,0,0.8);
    .main{
        @include am(60px,60px);
        @include font(28px,36px,#fff);
        letter-spacing: 4px;
        text-align: center;
        text-indent: -99999px;
        background-image: url(../images/spin.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}
.header{
    @include alt(1000px,104px,50%,0,-500px);
    z-index: 9;
    .logo{
        @include alt(107px,91px,8px,13px);
        background-image: url(../images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .org_header{
        @include flt(823px,114px,50%,0,-315px);
        z-index: 10;
        .news{
            @include art(137px,130px,8px,60px);
            z-index: 1;
        }
    }
}
.menu{
    @include alt(68px,auto,50%,113px,-480px);
    z-index: 8;
    .menua_box{
        @include r;
        .menua{
            @include r(68px,73px);
            margin-bottom: 6px;
            background-repeat: no-repeat;
            background-position: center 0;
            cursor: pointer;
            text-indent: -9999px;
            &:before{
                content:"";
                @include alt;
                background-image: inherit;
                background-position: center -73px;
                // transition: 0.3s;
                opacity: 0;
            }
            &:hover{
                &:before{
                    opacity: 1;
                }
            }
            &.m1{
                background-image: url(../images/menu_1.png);                
            }
            &.m2{
                background-image: url(../images/menu_2.png);                
            }
            &.m3{
                background-image: url(../images/menu_3.png);                
            }
            &.m4{
                background-image: url(../images/menu_4.png);                
            }
            &.m5{
                background-image: url(../images/menu_5.png);                
            }
            &.m6{
                background-image: url(../images/menu_6_1.png); 
                &.on{
                    background-image: url(../images/menu_6.png);
                }               
            }
            &.m7{
                background-image: url(../images/menu_7.png);                
            }
            &.m8{
                @include alt(68px,73px,100%,0,8px);
                background-image: url(../images/menu_8.png);                
            }
            &.m9{
                @include alt(68px,73px,100%,79px,8px);
                background-image: url(../images/menu_9.png);                
            }
            
        }
    }
    .cover{
        display: none;
    }
}
.wrapper{
    @include r;
    background-image: url(../images/index_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 100%;
    z-index: 1;
    background-color: #6aba0d;
    .page{
        position: relative;
        max-width: 1000px;
        margin: auto;
        .com_title{
            @include r(319px,161px);
            margin-top: 115px;
            margin-left: 366px;
            background-image: url(../images/all_title_bg.png);
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 1;
            &:before{
                content:'';
                @include alt;
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .com_main{
            @include r(633px);
            z-index: 0;
            box-sizing: border-box;
            margin-top: -160px;
            margin-left: 210px;
            margin-bottom: 25px;
            padding: 137px 0 34px 0;
            &:before{
                content:"";
                @include alt;
                height: 137px;
                background-image: url(../images/login_member_main_bg_top.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center bottom;
            }
            &:after{
                content:"";
                @include alb;
                height: 34px;
                background-image: url(../images/login_member_main_bg_bot.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center bottom;
            }
            .content{
                @include r;
                background-image: url(../images/login_member_main_bg_mid.png);
                background-size: 100% auto;
                background-position: center top;
                box-sizing: border-box;
                padding: 0 36px;
                padding-top: 23px;
                &:after{
                    content:"";
                    @include arb(229px,297px,-154px,-46px);
                    background-image: url(../images/com_waterchild.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                    z-index: 0;
                }
            }
        }
    }
}

.qrcode_popup{
    @include flt;
    z-index: 99;
    display: none;
    .closebtn{
        @include alt(95px,74px,50%,0,404px);
        background-image: url(../images/index_popup_closebtn.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        cursor: pointer;
        z-index: 2;
    }
    .main{
        @include am(692px,620px);
        background-image: url(../images/index_popup_qrcode.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        z-index: 1;
    }
    .cover{
        @include alt;
        background-color: rgba(0,0,0,0.8);
        z-index: 0;
    }
}

//index
@import "index.scss";

//login_member
@import "_login_member.scss";

//login_member_nodata
@import "_login_member_nodata.scss";

//login_member_nodata_confirm
@import "_login_member_nodata_confirm.scss";

//login_number
@import "_login_number.scss";

//login_number_success
@import "_login_number_success.scss";

//inquire
@import "_inquire.scss";

//award_list
@import "_award_list.scss";

//award_info
@import "_award_info.scss";

//about
@import "_about.scss";

